@import "tailwindcss";

@theme {
	--color-primary-500: #3a66b3;
	--color-primary-300: #6495ed;
}

@page {
	size: auto; /* auto is the initial value */
	margin: 0mm; /* this affects the margin in the printer settings */
}

@media print {
	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}
}
